/**/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 80px;
}
header .logo {
  width: 10%;
}
header menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  color: #FF6060;
  font-weight: 500;
}