/**/
article.dropdown {
    margin: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    > div.dropdown__topbar {
        color: white;
        background-color: #ff6060;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > img.dropdown__icon {
            height: 32px;
            width: 32px;
            &--closed {
                transform: rotateX(180deg);
            }
        }
        &:hover {
            filter: opacity(0.8);
            transition: filter 0.03s ease-in;
            cursor: pointer;
        }
    }
    > div.dropdown__content {
        border-radius: 10px;
        padding: 10px 20px 20px 20px;
        color: #ff6060;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    border-radius: 25px;

    img.carousel__image {
        width: 100%;
        aspect-ratio: 3.5 / 1;
        height: auto;
        display: block;
        border-radius: 25px;
    }

    img.carousel__button {
        position: absolute;
        top: 50%;
        padding: 10px 10px;
        height: 120px;
        width: auto;
        aspect-ratio: 1 / 1;
        color: white;
        border: none;
        opacity: 0.8;
        &--previous {
            left: 0px;
            transform: translateY(-50%) rotate(-90deg);
            &:hover {
                cursor: pointer;
                transform: translateY(-50%) rotate(-90deg) scale(1.2);
                opacity: 1;
                transition: all 0.2s;
            }
        }

        &--next {
            right: 0px;
            transform: translateY(-50%) rotate(90deg);
            &:hover {
                cursor: pointer;
                transform: translateY(-50%) rotate(90deg) scale(1.2);
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
}
