/**/

section.cards-list {
    background-color: $grey1;
    border-radius: $border-radius2;
    margin: 20px 80px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

div.dropdowns-list {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;
    > .dropdown {
        width: 100%;
    }
}
